# Força o GitHub a mostrar Dart como principal
*.dart linguist-detectable=true

# Ignora arquivos nativos que o Flutter cria automaticamente
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.java linguist-detectable=false
*.kt linguist-detectable=false
*.m linguist-detectable=false
*.swift linguist-detectable=false

# Ignora CMake
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false
/cmake/* linguist-detectable=false
